@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Brillant';
    src: url('/font/brillant.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Brillant', sans-serif;
  }
  